torch>=2.6.0
diffusers>=0.27.2
transformers>=4.49.0
accelerate>=1.4.0
datasets>=3.3.2
huggingface_hub>=0.23.1
tqdm>=4.66.2
rich>=13.9.4
numpy>=2.2.3
peft>=0.14.0
safetensors>=0.4.3
einops>=0.8.1
wandb>=0.19.8 